* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-domino {
  display: flex;
}

.domino {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid;
  background-color: black;
  margin: 3px;
}
.container-half {
  border: 1px solid;
  width: 100px;
  height: 100px;
}

.halfone,
.halftwo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.first {
  align-self: flex-start;
}

.second {
  align-self: center;
}

.third {
  align-self: flex-end;
}

.container-inner {
  display: flex;
  justify-content: space-between;
}

.fifth {
  align-self: center;
}
