* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: black;
}

h1,
p {
  color: white;
  text-align: center;
}

img {
  height: 160px;
  width: 300px;
}
.image-container {
  margin: 30px;
  height: 100vh;
  flex-wrap: wrap;
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.image {
  border: 1px solid gray;
  box-shadow: 3px 5px 3px 1px gray;
  height: 300px;
  width: 300px;
  background-color: black;
}
