* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
span {
  margin-left: 7px;
}

header {
  margin: 0;
  background-color: #a52a2a;
  color: white;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  margin: 0;
  font-size: 50px;
}

.nav {
  display: flex;
  gap: 30px;
}

.nav > a {
  font-family: "Lato", sans-serif;
  text-decoration: none;
  color: white;
}

.head {
  display: flex;
  background-position: bottom;
  background-image: url("./computer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  justify-content: center;
  align-items: center;
  color: rgb(49, 49, 58);
  text-shadow: 5px 3px 1px rgba(112, 126, 158, 0.47);
  position: relative;
  font-family: sans-serif;
}

.head > h1 {
  font-family: "Oswald", sans-serif;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 40px auto;
}

article > h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
p {
  margin-top: 30px;
  font-family: "Roboto Slab", serif;
  text-align: center;
}

.hr {
  border-bottom: 3px solid rgb(194, 111, 15);
  width: 257px;
  margin-top: 3px;
}

a.learn {
  text-decoration: none;
  color: #a52a2a;
  font-family: monospace;
}
a {
  transition: all 0.7s linear;
}

a:hover {
  color: rgb(144, 113, 75);
  font-size: 20px;
  margin: 10px;
}
